body 
{
background-color: #f4f0ec;
overflow: hidden;
}
.body
{
	margin-right: 32;
}
form 
{
width:30%;
float:left;
margin-left: 2%
}

label 
{
display:block;
margin-top:20px;
letter-spacing:2px;
font-family: aboutext;
}

#name,#email, textarea 
{
width:439px;
height:27px;
background:#efefef;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #dedede;
padding:10px;
margin-top:3px;
font-size:0.9em;
color:#3a3a3a;
}

input:focus, textarea:focus 
{
border:1px solid #97d6eb;
}

textarea
{
height:195px;
font-family:Arial, Helvetica, sans-serif;
}

#submit 
{
width:127px;
height:38px;
border:none;
margin-top:20px;
float: right;
font-size: 20px;
border-radius: 5px;
}

#submit:hover 
{
opacity:0.9;
background-color: #000000
;
color: #fff;
}
.container
{
float:right;
height: 60%;
width:50%;
border-left: 1px dotted #000000;
padding-left: 3%
}
.container p,
.container a
{
	text-align: left;
    font-size: 22px;
    font-family: homeA;
    color: #212121;

}
#gitwu
{
	text-align: left;
    font-size: 20px;
    font-family: aboutext;	
}
#gith
{
	font-size: 30px;
}
#gitwuh
{
    bottom: 0;
}