.head
{
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    z-index: 1;
}
#main
{
    height:80%;
    width:100%;
    background-color: #f4f0ec;
	position: relative;
	z-index: 2;
	padding-top: 4%;
}
#about
{
	padding-top: 30px;
	font-size: 40px;
	font-family: homeA;
	color: #000000;
}
#box1
{
	width:23%;
	height:60%;
	margin-right: 10%;
	float:left;
	margin-left: 5%;
}
#box1 #img1
{
	width:50%;
	height:50%;
	border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#box2
{
	width:23%;
	height:60%;
	margin-right: 10%;
	float:left;
}
#box2 #img2
{
	width:50%;
	height:50%;
	border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#box3
{
	width:23%;
	height:60%;
	float: left;
}
#box3 #img3
{
	width:50%;
	height:50%;
	border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#text
{
 font-family: aboutext;
}
#cr 
{
 position:absolute;
 bottom:0;
 left:35%;
}