body
{
	overflow: hidden;
}
.main
{
	background-color: #f4f0ec;
	height:100%;
	width:100%;
	padding-top: 2%;
}
#box1
{
	width:20%;
	height:50%;
	margin-right: 4%;
	float:left;
	margin-left: 4%;
}
#box1 #img1
{
	width:100%;
	height:50%;
	border-radius: 20px;
	background-color: #e9e9e9;
}
#box2
{
	width:20%;
	height:50%;
	margin-right: 4%;
	float:left;
}
#box2 #img2
{
	width:100%;
	height:50%;
	border-radius: 20px;
	background-color: #e9e9e9;
}
#box3
{
	width:20%;
	height:50%;
	float: left;
	margin-right: 4%;
}
#box3 #img3
{
	width:100%;
	height:50%;
	border-radius: 20px;
	background-color: #e9e9e9;
}
#box4
{
	width:20%;
	height:50%;
	float: left;
}
#box4 #img4
{
	width:100%;
	height:50%;
	border-radius: 20px;
	background-color: #e9e9e9;
	
}
.boxT
{
	color: #000000;
	font-family: 'Myriad Pro';
	text-align: center;
}
#cr 
{
	position: absolute;
	bottom: 0;
	left:35%;
}
.boxes
{
	margin-top: 2%;
	border-radius: 20px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
}
